/* ================================
   BASE / RESET
================================ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;      /* Enables Smooth Navbar Scrolling */
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg-main);
    color: var(--text-primary);
    line-height: 1.6;
}

/* Heading Use Futuristic Font */
h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}

/* Paragraphs */
p {
    color: var(--text-secondary);
    max-width: 70ch;
}

/* Section Spacing */
section {
    width: 100%;
}
